<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
<h2>Email: <%= @user.email %></h2>
<h3>Timestamps: <%= "#{@user.created_at} #{@user.updated_at}" %></h3>

<%= link_to "Volver", users_path %>
