<h1>Chats</h1>
<ul>
    <% @chats.each do |chat| %>
        <li>
            <%= link_to"#{chat.sender_id} #{chat.receiver_id} #{chat.created_at} #{chat.updated_at}", chat_path(chat) %>

        </li>
        <% end %>

    </ul>

