<h1>Chats</h1>

<ul>
<% @chats.each do |chat| %>
  <% if can? :read, chat %>
    <li>
      Chat between <%= chat.sender.email %> and <%= chat.receiver.email %><br>
      <%= link_to 'Show', chat_path(chat) %>
    </li>
  <% end %>
<% end %>
</ul>

<%= link_to 'New Chat', new_chat_path %>
